fieldset {
	background: none repeat scroll 0 0 transparent;
	border: 0 solid transparent;
	margin: 0;
	padding: 0;
	margin-top: 2px;
}

fieldset legend {
	color: #333333;
    font-size: 18px;
    font-weight: normal;
    line-height: 21px;
    padding: 10px 10px 5px 0;
	font-family: Georgia,"Times New Roman",Times,serif;
}

input,
textarea {
	width:96%;
}

select {
	width:92%;
}

textarea {
	height: 100px;
}

input[type="text"], 
input[type="password"] { 
	height: 18px; 
}

input.input_radio, 
input.input_checkbox, 
input[type="radio"], 
input[type="checkbox"] {
	border: 0px;
	background-color: transparent;
	margin:5px;
	width:16px;
}

.form > .ui-widget-content {
	padding: 5px;
}

.form-element-label, .form-element-label > label {
	font-weight: bold;
	padding-bottom: 5px;
}

.form_button_container {
	margin-top: 10px;
}

.form-element-description {
	color: #696868;
	font-style: italic;

}

.form > div.ui-widget-content > div {
	padding-bottom: 5px;
}
.form > div.ui-widget-content > fieldset, .form {
	margin-top: 10px;
}

.form-element-label {
	margin-top: 10px;
}
.form-required {
	color: #FF0000;
	font-weight: bold;
}
.valid_input
{
	border: 1px solid #0C7C07 !important;
	color: Black;
}

.invalid_input,
.invalid_input:hover
{
   border: 2px solid red;
   color: #EE5555;
}

label.invalid_input {
	border: 0px;
}


.form > .ui-widget-header {
	padding: 10px;
}