.ui-widget.form {
	border: 0px;
}

form div.form > div.ui-widget-content {
	background-color: #fefefe;
	background-image: none;
}

fieldset {
	background: none repeat scroll 0 0 transparent;
	border: 0 solid transparent;
	border: 1px solid #cbcbcb;
	margin: 0;
	padding: 0;
	margin-top: 7px;
	background-color: #f0f0f0;
}

fieldset div {
	padding: 5px;
}
fieldset div.legend_wrapper {
    padding: 5px 0px 5px 0;
	background-color: #FFFFFF;
	border-bottom: 1px solid #cbcbcb;
}
fieldset legend {
	display: block;
	width: auto;
    font-size: 14px;
    font-weight: bold;
	padding: 5px;
    line-height: 17px;
	font-family: Georgia,"Times New Roman",Times,serif;
}

input,
textarea {
	width:96%;
}

select {
	width: auto;
}

textarea {
	height: 100px;
}

input[type="text"],
input[type="password"] {
	height: 18px;
}

input.input_radio,
input.input_checkbox,
input[type="radio"],
input[type="checkbox"] {
	border: 0px;
	background-color: transparent;
	margin:5px;
	width:16px;
}

.form > .ui-widget-content {
	padding: 5px;
}


.form-element-label, .form-element-label > label {
	font-weight: bold;
	padding-bottom: 5px;
	color: #4270a3;
}

.form_button_container {
	margin-top: 10px;
}

.form-element-description {
	color: #696868;
	font-style: italic;

}

.form > div.ui-widget-content > div {
	padding-bottom: 5px;
}
.form > div.ui-widget-content > fieldset, .form {
	margin-top: 10px;
}

.form-element-label {
	margin-top: 10px;
}

fieldset > div > .form-element-label:first-child {
	margin-top: 0px;
}

.form-required {
	color: #FF0000;
	font-weight: bold;
}
.valid_input
{
	border: 1px solid #0C7C07 !important;
	color: Black;
}

.invalid_input,
.invalid_input:hover
{
   border: 2px solid red;
   color: #EE5555;
}

label.invalid_input {
	border: 0px;
}


.form > .ui-widget-header {
	padding: 5px;
}