/* ################## TABLE        #########################################  */
#content_wrapper table.ui-widget-content.ui-widget {
    padding: 0px;
    margin: 0px;
    width: 100%;
	border-collapse: separate;
	border: 1px solid #4e4e4e;
    border-spacing: 1px 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table td {
    padding: 1px;
}

table thead tr td {
    font-weight: bold;
}

table tr.odd td {
   /* background-color: #F5F5F5;*/
}

table.ui-widget tbody td {
	height: 20px;
	line-height: 20px;
}

table.ui-widget .ui-widget-header td {
	padding: 5px;
	font-size: 13px;
	color: #fefefe;
}

table.ui-widget-content tbody tr:hover td {
	background: url("../images/ui-bg_highlight-soft_80_eeeeee_1x100.png") repeat scroll 50% 50% #DDDDD4;
	color: #4e4e4e;
}

table.ui-widget-content tbody tr td {
	background: url("../images/ui-bg_carbon-fiber_25_ffffff_8x9.png") repeat scroll 50% 50% #dfdfdf;
}

table.ui-widget-content td {
	/*background: #EDEDE9;*/
	padding: 5px;
}

table thead.ui-widget-header > tr > td input {
	margin: 0px;
}

tr.group_list > td.ui-state-active,
tr.group_list > td.ui-state-hover {
	border: 0px;
}

/* ################## TABLE DRAG   #########################################  */
.draggable td  a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin: -0.4em 0 -0.4em -0.5em;
    padding: 0.42em 1.5em 0.42em 0.5em;
    text-decoration: none;
}

td a.tabledrag-handle .handle {
    background: url("../images/draggable.png") no-repeat scroll 0 0 transparent;
    height: 13px;
    margin-top: 1px;
	margin-right: 5px;
    width: 13px;
	float: left;
}

td a.tabledrag-handle:hover {
    text-decoration: none;
}

td a.tabledrag-handle:hover .handle {
    background-position: 0 -20px;
}


#draggable_warning {
	display:none;
}

.sortorder_changed {
	color: #E09010;
}