language/*
!language/countries
!language/currencies
!language/languages

templates_c/*
!templates_c/.htaccess

templates/*
!templates/.htaccess
!templates/standard
!templates/internal.tpl

modules/*
!modules/.htaccess
!modules/content
!modules/translation
!modules/user
!modules/system
!modules/menu

memcache.php

sitemap.xml
sitemap.xml.gz
